.create-card-form{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    &__form{
        display: flex;
        flex-direction: column;
    }
    &__input-group{
        display: flex;
        flex-direction: row;
        align-items: end;
        & h2{
            line-height: 100%;
        }
    }
    &__input{
        margin-left: 20px;
    }
    &__inputs{
        margin-top: 20px;
    }
    &__button{
        transition: 0.3s;
        margin:30px auto 0 auto;
        &:hover{
            background-color: aqua;
        }
    }

}